* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #333;
  color: white;
  font-family: system-ui;
}
:root {
  --borderR: 4px;
  --transition: 0.2s;
}
.crud {
  width: 70%;
  margin: 10px auto;
  padding: 15px;
  border-radius: var(--borderR);
  box-shadow: 0px 0px 5px 0.4px rgba(255, 255, 255, 0.384);
  overflow: auto;
}
.crud .head {
  margin: 10px 0;
  text-transform: uppercase;
  text-align: center;
}
.crud input {
  width: 100%;
  height: 30px;
  outline: none;
  border: none;
  background-color: #111;
  color: white;
  margin: 4px 0;
  border-radius: var(--borderR);
  padding: 5px;
  transition: var(--transition);
}
input:focus {
  background-color: #000;
  transform: scale(103%);
}
.crud .parentPrice {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.crud .parentPrice input {
  width: 20%;
}
#total {
  background-color: #a00d02;
  padding: 5px;
  min-width: 100px;
  overflow: hidden;
  border-radius: var(--borderR);
}
#total::before {
  content: "Total:";
}
.crud button {
  width: 100%;
  height: 30px;
  border: none;
  cursor: pointer;
  background-color: rgb(3, 165, 165);
  color: white;
  border-radius: 15px;
  font-size: 17px;
  margin: 4px 0;
  transition: var(--transition);
}
button:hover {
  background-color: rgb(18, 192, 192);
  letter-spacing: 0.5px;
}
.btnsearch {
  display: flex;
  justify-content: space-between;
}
.btnsearch button {
  width: 45%;
}
table {
  width: 100%;
  text-align: center;
  margin: 10px 0;
}
table th {
  text-transform: uppercase;
  border: 1px solid rgba(255, 255, 255, 0.384);
}
table th,
td {
  padding: 5px;
}
table tbody tr td {
  box-shadow: 0 0 3px 0px rgba(255, 255, 255, 0.384);
}
::placeholder {
  text-transform: capitalize;
}
@media (max-width: 767px) {
  .crud {
    width: 100%;
  }
  .crud .outputs .searchNlock button {
    width: 90%;
  }
}
